# Compiled class file
*.class

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#projects
2019/may/trading-monitor/target/
2019/may/quickstart/target/
