<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" >
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="csvjournaller" fileName="target/generated-test-sources/logs/eventInJournal.csv" immediateFlush="true" append="false">
            <PatternLayout>
                <Pattern>%m</Pattern>
            </PatternLayout>
        </File>
        <File name="sepaudit" fileName="target/generated-test-sources/logs/fluxtionCalcAudit.yaml" immediateFlush="true" append="false">
            <PatternLayout>
                <Pattern>%m</Pattern>
            </PatternLayout>
        </File>
        <File name="yamlJournaller" fileName="target/generated-test-sources/logs/fluxtionEventJournal.yaml" immediateFlush="true" append="false">
            <PatternLayout pattern="%msg"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="fluxtion.journaller.csv" level="trace" additivity="false">
         <AppenderRef ref="csvjournaller"/>
       </Logger>
        <logger name="fluxtion.journaller.yaml" level="info" additivity="false">
            <AppenderRef ref="yamlJournaller"/>
        </logger>
        <Logger name="fluxtion.eventLog" level="trace" additivity="false">
         <AppenderRef ref="sepaudit"/>
       </Logger>
    </Loggers>
    
    
    
</Configuration>
